
<% if session[:name] %>

<h1>Hi, <%= session[:name] %>.</h1>
<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>

<% else %>
<h1> <%= link_to "Log In", "/login" %></h1>
<% end %>

